


header{
    background: linear-gradient(rgb(35, 144, 156), rgb(0, 128, 128))
    
}



h1{
font-size: 100px;
text-align: center;
color: rgb(255, 255, 255);
}

h2{
font-size: 40px;
text-align: center;
}

body{
margin: 5%;
font-size: 30px;
text-align: justify;
background-image: url("ondas.jpg");
color: aliceblue;

}

.a{
    font-size: 50px;
color: rgb(255, 255, 255);
text-align: center;
    
}
.b{
    margin: 20%;
font-size: 50px;
color: rgb(255, 255, 255);
text-align: center;
}
.c{
text-decoration-color: rgb(255, 255, 255);

}
