header{
    background-color:rgb(0, 255, 64)
    
}



h1{
font-size: 100px;
text-align: center;
color: rgb(0, 255, 64);
background-image: url("nice.gif");
}

h2{
font-size: 40px;
text-align: center;
}

body{
margin: 5%;
font-size: 30px;
text-align: justify;
background-color: black;
color: rgb(255, 255, 255);


}

.a{
    font-size: 50px;
color: rgb(0, 0, 0);
text-align: center;
    
}
.b{
    margin: 25%;
font-size: 50px;
color: rgb(0, 0, 0);
text-align: center;
}
.img1c {
height: 300px;
margin-left: 22%;
}
.img2c {
height: 400px;
margin-left: 34%;
}
.img3c {
height: 300px;
margin-left: 20%;
}
.img4c {
height: 300px;
margin-left: 20%;
}
